<!-- <h1>{{start | date}}</h1>


<h1> {{ 1234 | currency:'INR' }} </h1>
<h1> {{ 1234 | currency:'EUR' }} </h1>


<h1> {{ start | date:'long' | uppercase}}  </h1>
<h1> {{ start | date:'short' }}  </h1>

<app-login></app-login>
<app-test></app-test>

<br> -->


<!-- <nav class="navbar">
    <a href="" > Logo </a>
    <a href=""  routerLink="home" >Home </a>
    <a href=""  routerLink="about" >About </a>
    <a href=""  routerLink="contact" >Contact </a>
    <a href="" routerLink="login" >login </a>
    
</nav> -->

<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->



<form action="">
    <label for="">Enter name </label>
    <input type="text" #data (keyup)="getValue(data.value)"  >  
</form>

