<div class="parent">


    <img  class="img-box" src="../assets/drawers.jpg" alt="">

    <div class="data-box">

      <h2 style="color: hsl(217, 19%, 35%) ; font: 'Manrope'; "> Shift the overall look and feel by adding these wonderful touches to furniture in your home  </h2>

      <p style=" color:hsl(214, 17%, 51%) ">Ever been in a room and felt like something was missing? Perpaps
        it felt slightly bare and uninviting . I've got some simple tips to help you make any room feel complete.
      </p>

      <div>

        <div class="michele">
          <img src="../assets/avatar-michelle.jpg" class="dp-mich" alt="Michelle Appleton">

          <div class="mich-data" >
            <p style=" color:hsl(217, 19%, 35%) ; font-weight : bold; " >Michelle Appleton</p>
            <p style="color:hsl(214, 17%, 51%) ;" >28 Jun 2020</p>
            

          </div>
          <img src="../assets/icon-share.svg" class="sharebtn" alt="Share">
        </div>

      </div>


    </div>

</div>